<h1>
  Edit your lyrics!
</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <p> change your song here:</p>
      <br/>
      <%= render 'form', locals: {song_parts: @song} %> 
  </div>