<h1>Welcome to Song Builder </h1>
<h2>Login or Signup to start creating songs</h2>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <%= button_to "log Out", '/session', method: :delete%>
<%end%>