<h1>
  Edit your song!
</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <p> change your song here:</p>
      <br/>
      <%= form_with model:@song, local::true do |form| %>
        <%= form.text_field :title %>
        <%= form.text_field :genre %>
        <%= form.submit "create a song "%>
        <% end %>
  </div>