<h1> Song List </h1>
<div class="container">
<div class="row">
<div class="col-xs-6">
<ul>
<% @songs.each do |s| %>
    <li> <%= link_to s.title, s.genre, song_path(s)%> </li> 
    <% end %>
</ul>

<>
<>
<>
<>
<>
<>
<>