<h1>Write a song !</h1>
<div class="container">
  <div class="row">
    <div class="col-xs-8">

      <%= form_with model:@song, local::true do |form| %>
        <%= form.text_field :title %>
        <%= form.text_field :genre %>
        <%= form.submit "create a song "%>
        <% end %>
        </div>