<h3><%=@song.title %></h3>

    <p>Title: <%= @song.title %></p>
    <p> Genre: <%= @song.genre%></p>
   

    
    
    <%= button_to "Delete", @song , method: :delete, data: {confirm: "Are you sure you want to delete #{@song.title}"}%>

    </form>
  