<h3><%=@song.title %></h3>

    <p>Title: <%= @song.title %></p>
    <p> Genre: <%= @song.genre%></p>
    <p><%=@song.lyrics%></p>

    
    
    <input type="submit"name=" "value="Delete this song">
    </form>
  