<div class="header">
    <div class="title"> </div>
    <% if current_user %>
    <div class"email">
    <i>welcome, <%= current_user.email %></i>
    </div>
    <% end %>
    <div class="nav">
    
    </div>
</div>